DATABASE_URL="file:./dev.db"
AUTH_SECRET="your-32-character-random-secret"
MESSENGER_URL="https://m.me/your_username"
NEXT_PUBLIC_MESSENGER_URL="https://m.me/your_username"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
